@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@media screen and (min-width: 1800px) {
  .container {
    width: clamp(50rem, 60rem, 85rem) !important;
  }

  .hike-card-container {
    transform: scale(1.2);
    transform-origin: top left;
  }
}

@media screen and (min-width: 2300px) {
  #map {
    transform: scale(1.4);
    margin-left: 1rem;
  }

  #map:hover {
    transform: scale(1.5) !important;
  }
}

@media screen and (max-height: 900px) {
  .container {
    min-height: 720px;
  }
}

/* @media screen and (max-width: 2000px) {
  /* .favourites-master {
    display: none !important;
  } */

@media screen and (max-width: 1400px) {
  #map {
    transform: scale(0.7);
    position: relative;
    right: 5rem;
  }

  #map:hover {
    transform: scale(0.8) !important;
    transform-origin: top right !important;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: #2a7b9b;
  /* background: linear-gradient(
    124deg,
    rgba(42, 123, 155, 0.76) 0%,
    rgba(71, 87, 79, 1) 0%,
    rgba(232, 215, 65, 0.89) 100%
  ); */
  /* background: #2a7b9b; */
  background: linear-gradient(
    274deg,
    rgba(42, 123, 155, 0.76) 0%,
    rgba(140, 173, 156, 0.52) 0%,
    rgba(97, 89, 27, 0.57) 100%
  );
  height: 100dvh;
  /* width: 100%;  this seemed to help with the blue bit at the edge*/
  display: grid;
  grid-template-columns: auto auto 20%;
  /* grid-template-columns: auto-fit, minmax(30%, 1fr); */
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2rem;
  overflow-y: hidden;
}

.container {
  container-type: inline-size;
  background-color: rgb(144, 124, 124);
  grid-column: 1;
  grid-row: 1 / -1;
  margin-left: 2vw;
  margin-top: 1vw;
  padding: 2rem 3rem 4rem 0.2rem;
  border: 2px black solid;
  height: clamp(70dvh, 80%, 90dvh);
  /* width: clamp(650px, 750px, 800px); */
  width: clamp(40.625rem, 53.875rem, 55rem);
  overflow-x: hidden;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto; */
  display: flex;
  flex-direction: row;
  text-wrap: nowrap;
  /* gap: 1.5rem; */
  overflow-x: hidden;
  box-sizing: border-box;
  background: #c27367;
  background: #c27367;
  background: linear-gradient(
    99deg,
    rgba(194, 115, 103, 0.69) 0%,
    rgba(140, 173, 156, 0.52) 81%,
    rgba(125, 125, 115, 0.49) 100%
  );
}

.container-sub {
  display: grid;
  grid-template-columns: clamp(190px, 200px, 300px);
  grid-template-rows: 2;
  max-width: 300px;
  gap: 1rem;
}
.hike-list-master {
  flex: 2;
  padding-bottom: 5rem;
  min-width: fit-content;
  overflow-y: visible;
  padding-left: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hike-list-master-filter {
  border-width: 2px;
  border-style: solid;
}

.hike-cards {
  padding: 0 1rem 0 0.3rem;
  flex-basis: 0;
  grid-column: 1 / 2;
  margin: 1rem 0px;
  font-size: 2.5vh;
  max-width: fit-content;
  height: clamp(2.2rem, 2.7rem, 2.7rem);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
  animation-name: shuffle;
  animation: ease-out;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.hike-cards:active {
  border: white 2px solid;
}

.hike-cards:hover {
  cursor: pointer;
  border: 1.5px black solid;
  color: white;
  transition: border 1s ease;
  transition: color 0.5s ease;
}

.hike-cards-difficulty {
  border: white 0.2rem solid; /* the colour here doesn't matter */
}

.hike-card-container {
  display: none;
  grid-column: 2;
  grid-row: 1 / 2;
  margin-top: 1rem;
  width: fit-content;
  /* width: clamp(200px, 500px, 700px); */

  height: fit-content;
  background-color: white;
  gap: 3px;
}

.hike-card-div {
  border: black 3px dotted;
  height: fit-content;
  min-width: fit-content;
  padding: 0.5em;
  border: 3px inset black;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  text-wrap: nowrap;
}

.hike-card-div-left:hover {
  box-shadow: 7px 9px 26px -9px rgba(46, 6, 6, 0.75);
}

.hike-card-div-left {
  flex-direction: column;
  width: fit-content;
  border: outset 3px;
  padding: 1em;
  margin-bottom: 1em;
  text-wrap: wrap;
}
.hike-card-div-right {
  height: fit-content;
  width: fit-content;
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#map {
  display: none;
  height: clamp(220px, 45vh, 400px);
  width: clamp(340px, 40vw, 600px);
  grid-column: 2;
  grid-row: 2 / -1;
  border: black 2px solid;
  /* margin-top: em; */
  transition: ease-out 0.5s;
}

#map:hover {
  transform: scale(1.1);
  transform-origin: left;
  transition: ease-in 0.4s;
}

.dot {
  position: relative;
  top: 3px;
  height: 16px;
  width: 100px;
  background-color: red;
  display: inline-block;
}

.button-options {
  /* grid-column: 2; */
  height: fit-content;
  width: fit-content;
  position: fixed;
  top: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
  z-index: 10;
  font-size: 1.2rem;
}

.button-options button {
  font-size: 1.2rem;
}

.button-options button:hover {
  transform: scale(1.2);
}

.X,
.favourites,
.completed,
.to-do {
  font-size: x-large;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.X:hover,
.completed:hover,
.to-do:hover,
.favourite:hover,
.location-button {
  cursor: pointer;
  cursor: pointer;
  transform: scale(1.1);
}

.completed:hover {
  color: green;
}

.location-button:hover {
  color: blue;
}

h4 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: italic;
}

@keyframes shuffle {
  from {
    transform: rotate(0);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: rotate(15);
  }
}

.button-active:active {
  border-color: cadetblue;
  border-radius: 2px;
}

.hike-title {
  font-size: larger;
  padding-bottom: 5px;
}

.X:active,
.favourites:active,
.completed:active,
.to-do:active {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: green;
}

.X:hover,
.favourites:hover,
.completed:hover,
.to-do:hover {
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.58);
}

.X {
  font-size: xx-large;
  color: crimson;
}

svg {
  background-color: none;
  fill: black;
}

.loop-icon {
  height: 1.2rem;
  width: 1.2rem;
  transform-origin: center;
  position: relative;
  top: 5px;
}

.colour-codes,
.difficulty-codes {
  font-size: 1.3rem;
  display: none;
  text-wrap: nowrap;
  position: fixed;
  top: 19rem;
  flex-direction: column;
  flex-shrink: 2;
  border: 1px black solid;
  min-height: fit-content;
  /* height: clamp(200px, 25rem, 400px); */
  gap: 0.5em;
  padding: 0.2em;
  /* overflow-y: hidden; */
  /* max-width: 30%; */
}

.colour-codes::before,
.difficulty-codes::before {
  content: "Key";
}

.parishes,
.difficulties {
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  border: 0.4em black solid;
  padding: 0.2em;
}

.parishes:hover,
.difficulties:hover {
  cursor: pointer;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-timing-function: ease-out;
  animation-delay: 0.05s;
}

.difficulties {
  font-size: 1.5rem;
  border-width: 2px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#Andorra-la-Vella {
  border: deeppink 0.2rem solid;
  background-color: none;
}

#Escaldes-Engordany {
  border: fuchsia 0.2rem solid;
  background-color: none;
}

#Encamp {
  border: maroon 0.2rem solid;
  background-color: none;
}

#Canillo {
  border: orange 0.2rem solid;
  background-color: none;
}

#Ordino {
  border: chartreuse 0.2rem solid;
  background-color: none;
}

#La-Massana {
  border: cyan 0.2rem solid;
  background-color: none;
}

#Sant-Julia {
  border: blue 0.2rem solid;
  background-color: none;
}

.change-border {
  border: 2px red solid;
}

#Green {
  background-color: rgba(46, 245, 11, 0.58);
}

#Blue {
  background-color: rgba(2, 28, 224, 0.58);
}

#Red {
  background-color: rgba(249, 11, 11, 0.58);
}

#Black {
  background-color: rgba(0, 0, 0, 0.58);
  color: white;
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
  }
  50% {
    width: 0.6;
    transform: translateX(5px);
    color: red;
  }
  100% {
    transform: translateX(0px);
    color: black;
  }
}

.options-master {
  display: flex; /* need to change this to get rid of black blip */
  flex-direction: column;
  /* position: fixed; */
  /* right: 0rem; */
  /* top: 3rem; */
  background-color: white;
  height: fit-content;
  overflow-y: auto;
}

.favourites-master,
.completed-master,
.to-do-master {
  width: fit-content;

  grid-column: 3;
  grid-row: 1;
  border: 2px solid black;
  margin-right: 2vw;
  margin-left: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  overflow-x: hidden;
  display: none;
  flex-direction: column;
  align-content: flex-start;
  align-self: center;
  justify-content: center;
  padding: 2rem;
  gap: 0.3rem;
  overflow-y: auto;
  max-height: fit-content;
  position: relative;
}
/* 
.favourites-master::before {
  content: "Favourites";
  position: relative;
  bottom: 1rem;
} */

.new-favourite,
.new-completed,
.new-todo {
  color: goldenrod;
  display: flex;
  justify-content: center;
  text-wrap: nowrap;
  height: 0.6rem;
  padding: 1em;
  font-size: smaller;
  border-width: 0.2rem;
  border-color: blue;
  border-style: solid;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
  box-shadow:
    rgba(201, 196, 35, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.new-completed {
  color: green;
}

.new-todo {
  color: red;
}

.new-favourite:hover,
.new-completed:hover,
.new-todo:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.counter {
  margin-top: 1rem;
  font-style: italic;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.options-dropdown {
  min-height: calc(5%);
  width: 100%;
  background-color: azure;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  font-size: 2rem;
}

.options-dropdown > a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  /* transform: scale(1.2); */
}

.toponomy {
  font-size: smaller;
  font-style: italic;
}

svg:hover:not(.location-button) {
  fill: red;
}

.notification {
  width: fit-content;
  padding: 0.2rem;
  height: 2rem;
  background-color: azure;
  position: fixed;
  bottom: 0.2rem;
  left: 0.2rem;
  border: black 0.2rem solid;
  font-size: 2rem;
  bottom: -100px;
  right: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
  z-index: 9999;
  pointer-events: none;
}

/* Show the notification */
.show {
  bottom: 20px;
  opacity: 1;
  transform: translateY(0);
  /* transition: transform 0.4s ease; */
}

.hide {
  opacity: 0;
  transform: translateY(30px);
  pointer-events: none;
}

.flex-options {
  grid-column: 3;
  grid-row: 1 / 2;
  position: fixed;
  top: 0;
  right: 0rem;
  border-left: 0.2rem black solid;
  border-bottom: 0.2rem black solid;
  height: fit-content;
  width: clamp(10%, 15%, 15%);
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  z-index: 1000;
  overflow-x: none;
}
