@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@media screen and (min-width: 1800px) {
  .hike-card-container {
    transform: scale(1.2);
    transform-origin: top left;
  }
}

@media screen and (min-height: 630px) {
  #map {
    transform-origin: top;
  }

  /* #map:hover {
    transform-origin: bottom !important;
  } */
}

/* 662px */
@media screen and (min-width: 2300px) {
  #map {
    transform: scale(1.4);
    margin-left: 1rem;
  }

  #map:hover {
    transform: scale(1.5) !important;
  }
}

@media screen and (max-width: 1400px) {
  #map {
    transform: scale(0.7);
    position: relative;
    right: 5rem;
  }

  #map:hover {
    transform: scale(0.8) !important;
    transform-origin: right !important;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: #2a7b9b;
  background: linear-gradient(
    274deg,
    rgba(42, 123, 155, 0.76) 0%,
    rgba(140, 173, 156, 0.52) 0%,
    rgba(97, 89, 27, 0.57) 100%
  );
  height: 100dvh;
  display: grid;
  grid-template-columns: auto auto 20%;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2rem;
  overflow-y: hidden;
}

.container {
  /* container-type: inline-size; */
  background-color: rgb(144, 124, 124);
  grid-column: 1;
  grid-row: 1 / -1;
  margin-left: 2vw;
  margin-top: 1vw;
  /* padding: 2rem 3rem 4rem 0.2rem; */
  padding: 0.5rem;
  padding-right: 2rem;
  border: 2px black solid;
  height: clamp(80%, 85%, 90%);
  /* width: clamp(40.625rem, 53.875rem, 55rem); OG */
  width: clamp(550px, 40vw, 100rem);
  gap: 2rem;
  overflow-x: hidden;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  text-wrap: nowrap;
  overflow-x: hidden;
  box-sizing: border-box;
  background: #c27367;
  background: #c27367;
  background: linear-gradient(
    99deg,
    rgba(194, 115, 103, 0.69) 0%,
    rgba(140, 173, 156, 0.52) 81%,
    rgba(125, 125, 115, 0.49) 100%
  );
}

.container-sub {
  display: flex;
  flex-direction: column;
  gap: calc(5%);
  position: sticky;
  top: 0;
}

.hike-list-master {
  /* flex: 2; */
  margin-bottom: 5rem;
  overflow-y: visible;
  padding-left: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hike-list-master-filter {
  border-width: 2px;
  border-style: solid;
}

.hike-cards {
  padding: 0 1rem 0 0.3rem;
  flex-basis: 0;
  grid-column: 1 / 2;
  margin: 1rem 0px;
  font-size: 2vh;
  max-width: fit-content;
  height: clamp(2.2rem, 2.7rem, 2.7rem);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
  animation-name: shuffle;
  animation: ease-out;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  transition: 0.2s ease-in;
}

.hike-cards:active,
.hike-cards-difficulty:active {
  border-right: white 0.2rem solid;
}

.hike-cards:hover {
  cursor: pointer;
  color: white;
  transition: color 0.3s ease;
}

.hike-cards-difficulty {
  border: white 0.2rem solid; /* the colour here doesn't matter */
}

.hike-card-container {
  /* width: calc(80%); */
  /* width: clamp(45%, 80%, 80%); */
  display: none;
  grid-column: 2;
  grid-row: 1 / 2;
  margin-top: 1rem;
  width: fit-content;
  height: fit-content;
  background-color: white;
}

.hike-card-div {
  /* height: fit-content; */
  padding: 0.5em;
  border: 0.25rem inset black;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  text-wrap: nowrap;
}

.hike-card-div-left:hover {
  box-shadow: 7px 9px 26px -9px rgba(46, 6, 6, 0.75);
}

.hike-card-div-left {
  font-size: 0.77rem;
  flex-direction: column;
  width: fit-content;
  border: outset 3px;
  padding: 1em;
  margin-bottom: 1em;
  text-wrap: wrap;
}
.hike-card-div-right {
  height: fit-content;
  width: fit-content;
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#map {
  display: none;
  height: clamp(220px, 45vh, 400px);
  width: clamp(340px, 40vw, 600px);
  grid-column: 2;
  grid-row: 2 / -1;
  border: black 2px solid;
  transition: ease-out 0.5s;
}

#map:hover {
  transform: scale(1.1);
  transform-origin: left;
  transition: ease-in 0.4s;
}

.dot {
  position: relative;
  top: 3px;
  height: 1rem;
  width: 100px;
  background-color: red;
  display: inline-block;
}

.button-options {
  height: fit-content;
  width: fit-content;
  top: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
  z-index: 10;
  font-size: 1rem;
}

.button-options button {
  font-size: 1rem;
}

.button-options button:hover {
  transform: scale(1.06);
  transform-origin: left;
}

.X,
.favourites,
.completed,
.to-do {
  font-size: x-large;
  font-weight: bold;
  transition: transform 0.3s ease;
  background-color: orange;
  pointer-events: all;
}

.X:hover,
.completed:hover,
.to-do:hover,
.favourites:hover,
.location-button {
  cursor: pointer;
  cursor: pointer;
  transform: scale(1.1);
  pointer-events: all;
}

.completed:hover {
  color: green;
}

.location-button:hover {
  color: blue;
}

h4 {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-style: italic;
}

@keyframes shuffle {
  from {
    transform: rotate(0);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: rotate(15);
  }
}

.button-active:active {
  border-color: cadetblue;
  border-radius: 2px;
}

.hike-title {
  font-size: larger;
  font-weight: 600;
}

/* .X:active,
.favourites:active,
.completed:active,
.to-do:active {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: green;
} */

/* .X:hover,
.favourites:hover,
.completed:hover,
.to-do:hover {
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.58);
} */

.X {
  font-size: xx-large;
  color: crimson;
}

svg {
  /* pointer-events: all; */
  cursor: pointer;
  background-color: none;
  fill: black;
}

.loop-icon {
  height: 1.2rem;
  width: 1.2rem;
  transform-origin: center;
  position: relative;
  top: 5px;
}

.colour-codes,
.difficulty-codes {
  font-size: 1.13em;
  display: none;
  text-wrap: nowrap;
  flex-direction: column;
  border: 1px black solid;
  min-height: fit-content;
  min-width: calc(70%);
  gap: 1rem;
  padding: 0.2em;
}

.colour-codes::before,
.difficulty-codes::before {
  content: "Key";
  font-family: Roboto, sans-serif;
  font-weight: 600;
}

.parishes,
.difficulties {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 2vh;
  border: 0.4em black solid;
  padding: 0.2em;
  text-align: right;
}

.parishes:hover,
.difficulties:hover {
  cursor: pointer;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-delay: 0.05s;
}

.difficulties {
  border-width: 2px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}
#Andorra-la-Vella {
  border: deeppink 0.2rem solid;
  background-color: none;
}

#Escaldes-Engordany {
  border: fuchsia 0.2rem solid;
  background-color: none;
}

#Encamp {
  border: maroon 0.2rem solid;
  background-color: none;
}

#Canillo {
  border: orange 0.2rem solid;
  background-color: none;
}

#Ordino {
  border: chartreuse 0.2rem solid;
  background-color: none;
}

#La-Massana {
  border: cyan 0.2rem solid;
  background-color: none;
}

#Sant-Julia {
  border: blue 0.2rem solid;
  background-color: none;
}

.change-border {
  border: 2px red solid;
}

#Green {
  background-color: rgba(46, 245, 11, 0.58);
}

.green {
  background-color: rgba(46, 245, 11, 0.58);
}

#Blue {
  background-color: rgba(2, 28, 224, 0.58);
  color: white;
}

.blue {
  background-color: rgba(2, 28, 224, 0.58);
  color: white;
}

#Red {
  background-color: rgba(249, 11, 11, 0.58);
}

.red {
  background-color: rgba(249, 11, 11, 0.58);
}

#Black {
  background-color: rgba(0, 0, 0, 0.58);
  color: white;
}

.black {
  background-color: rgba(0, 0, 0, 0.58);
  color: white;
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
  }
  50% {
    width: 0.6;
    transform: translateX(5px);
    color: white;
  }
  100% {
    transform: translateX(0px);
    color: black;
  }
}

.flex-options {
  grid-column: 3;
  grid-row: 1 / 2;
  position: fixed;
  top: 0;
  right: 0rem;
  border-left: 0.2rem black solid;
  border-bottom: 0.2rem black solid;
  max-height: 97dvh;
  overflow-y: auto;
  width: clamp(300px, 17%, 18%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1000;
  overflow-x: none;
}

.options-master {
  display: flex; /* need to change this to get rid of black blip */
  flex-direction: column;
  background-color: white;
  gap: calc(2%);
  flex: 1;
  padding-top: 5vh;
}

.favourites-master,
.completed-master,
.to-do-master {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  width: fit-content;
  grid-column: 3;
  grid-row: 1;
  border: 2px solid black;
  margin-right: 2vw;
  margin-left: 2vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  /* align-self: center; */
  padding: 1rem;
  gap: 0.3rem;
  overflow-y: auto;
}

.new-favourite,
.new-completed,
.new-todo {
  color: goldenrod;
  display: flex;
  justify-content: flex-start;
  text-wrap: wrap;
  /* height: 0.6rem; */
  height: max-content;
  padding: 0.35em;
  font-size: 1.65vh;
  border-width: 0.2rem;
  border-color: blue;
  border-style: solid;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
  box-shadow:
    rgba(201, 196, 35, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.new-completed {
  color: green;
}

.new-todo {
  color: red;
}

.new-favourite:hover,
.new-completed:hover,
.new-todo:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.counter {
  margin-top: 1rem;
  font-style: italic;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 2vh;
}

.options-dropdown {
  position: fixed;
  width: inherit;
  background-color: azure;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1000;
  margin-bottom: 3vh;
}

.options-dropdown span * {
  color: black;
  text-decoration: none;
  font-weight: bold;
  pointer-events: all;
}

.toponomy {
  padding-left: 1.5rem;
  /* font-size: smaller; */
  font-style: italic;
}

svg:hover:not(.location-button) {
  fill: red;
}

.location-button:hover {
  /* fill: blue; */
  animation: bounceLocation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-delay: 0.05s;
}

@keyframes bounceLocation {
  0% {
    transform: scale(1);
    color: black;
  }
  50% {
    transform: scale(1.4);
    transform-origin: bottom;
    fill: blue;
  }
  100% {
    transform: scale(1);
    color: black;
  }
}

.notification {
  width: fit-content;
  padding: 0.2rem;
  height: 2rem;
  background-color: azure;
  position: fixed;
  bottom: 0.2rem;
  left: 0.2rem;
  border: black 0.2rem solid;
  font-size: 3.4vh;
  bottom: -100px;
  right: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
  z-index: 9999;
  pointer-events: none;
}

/* Show the notification */
.show {
  bottom: 20px;
  opacity: 1;
  transform: translateY(0);
  /* transition: transform 0.4s ease; */
}

.hide {
  opacity: 0;
  transform: translateY(30px);
  pointer-events: none;
}

/* .display-flex {
  display: flex;
} */

.remove {
  height: 1rem;
  /* border-radius: 50%; */
  width: 1rem;
  font-size: 0.5rem;
  color: red;
  margin-right: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove:hover {
  color: red;
  transform: scale(1.3);
  font-weight: 700;
  transition: 0.3s ease-out;
}
